body {
    background-color: #293133;
	color: #EFEFEF;

	/*text-shadow: 0px 1px 2px #000;*/
}
.page-header
{
	text-shadow: 2px 2px #222727;
}
.page-header h1
{
	font-size: 26px;
}
footer
{
	margin-bottom: 24px;
}
h2 {
	font-size: 24px;
}
h3 {
	font-size: 18px;
}
h4 {
	font-size: 14px;
}

label {
	font-size:12px;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 5%;
    vertical-align: top;
    overflow: hidden;
}
.svg-content {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

input[type=checkbox]
{
  /* Smaller Checkboxes */
  -ms-transform: scale(0.75); /* IE */
  -moz-transform: scale(0.75); /* FF */
  -webkit-transform: scale(0.75); /* Safari and Chrome */
  -o-transform: scale(0.75); /* Opera */
  padding: 10px;
  margin: 2px 0 0;
}
input[type=radio]
{
  /* Smaller Checkboxes */
  -ms-transform: scale(0.75); /* IE */
  -moz-transform: scale(0.75); /* FF */
  -webkit-transform: scale(0.75); /* Safari and Chrome */
  -o-transform: scale(0.75); /* Opera */
  padding: 10px;
  margin: 2px 0 0;
}

/*.form-control {
	background-color: lightgray;


}*/

.node rect {
	cursor: pointer; /* mouse cursor type when over the rectangle-node */
	fill-opacity: .9;
	shape-rendering: crispEdges;
}
.node text {
	fill: #EFEFEF;
	pointer-events: none;
	text-shadow: 0px 1px 2px #000;
}
.link {
	fill: none;
	stroke: #000; /* black color */
	stroke-opacity: .2; /* trasnparent */
}
/*.link:hover {
	stroke-opacity: .5;  change opacity value when mouse goes over 
}
*/
.whitespace
{
	display: inline-block; 
	width: 14px;
}

.loader {
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 1;
	width: 120px;
	height: 120px;
	margin: -75px 0 0 -75px;
    border: 8px solid #2e3435; /* Light grey */
    border-top: 8px solid lightgray; /* Blue */
    border-radius: 50%;
    width: 90px;
    height: 90px;
	-webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.hidden {
	visibility: hidden;
}
.show {
	display: block;
	visibility: visible;
}
/*.d3-tip-link {
	 transform:translate(100%, 120%);
}*/
.d3-tip h1 {
	font-weight: bold;
	font-size: 15px;
	padding: 0;
	margin-bottom: 5px;
	margin-top: 0px;
	width: 100%;
}
.d3-tip h2 {
	font-weight: bold;
	font-size: 12px;
	padding-right: inherit;
	padding-left: inherit;
	padding-top: 2px;
	padding-bottom: 2px;
	margin: 0px;
}
.d3-tip h3 {
	font-weight: normal;
	font-size: 7px;
	margin: 0;
	padding: 0;
}
.d3-tip table {
	font-weight: normal;
	font-size: 11px;
	padding: none;
	margin: 0;
	width: 100%;
	border: none;
	border-collapse: collapse;
}
.d3-tip td {
	padding-top: 2px;
	padding-bottom: 2px;
}
.d3-tip .col-left {
	padding-right: 8px;
}
.d3-tip .table-wrapper {
	margin: 0;
	padding: inherit;
	border: none;
}
.d3-tip {
	line-height: 1;
	font-weight: normal;
	padding: 4px;
	padding-top: 1px;
	padding-bottom: 1px;
	background: #1c2223;
	color: white;
	border-radius: 2px;
	pointer-events: none;
	box-shadow: 1px 1px 4px #272727;
}

.ui-state-highlight { 
	background: #4b5051;
	border: #404444;
	height: 5em; 
	line-height: 2.2em; 
}

.ui-state-default {
	background: #222727;
	color: #EFEFEF;
	
	
}

.spacer {
     padding-top: 50px;
     padding-bottom: 40px
 }
.min-spacer {
     padding-top: 23px;
     padding-bottom: 23px
 }

 .verymin-spacer {
	padding-top: 20%;
	padding-bottom: 0%;
	font-size: 60%;
}
/*
.axis path, */
.axis {
	stroke-width: 1;
	
} 
